
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--
    <div th:replace="header :: header"></div>
-->
    <h2>Ingrese los datos del arreglo</h2>

    <form th:action="@{/crearArreglo}" method="post">
        
        <div>
            <label for="tamArr">Tamaño del Arreglo:</label>
            <input type="text" id="tamArr" name="tamArr" required>
        </div>

        <br>

        <div>
            <label for="tamClav">Tamaño de la Clave:</label>
            <input type="text" id="tamClav" name="tamClav" required>
        </div>

        <br>
<!--
        <div>
            <label for="campo3">Campo 3:</label>
            <input type="text" id="campo3" name="campo3" required>
        </div>
    -->
        <br><br>

        <button type="submit">Enviar</button>

        <a th:href="@{/}" style="margin-left:15px;">
            <button type="button">Volver al menú principal</button>
        </a>

    </form>

</body>
</html>

